*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(36, 53, 63);
}
.form{
    background-color: rgb(36, 53, 63);
    box-shadow: rgb(0, 0, 0) -5px 2px 54px -9px;
}
h1{
    color: rgb(23, 162, 184);
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

p{
    color: #fff;
}
.a-login{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}
.a-login:hover{
    text-decoration: underline;
    color: #fff;
}
.form-control{
    background-color: rgb(36, 53, 63) !important;
}
.form-control:focus{
    box-shadow: none;
    border-color: rgb(23, 162, 184);
}
button:hover{
    color: #fff !important;
}
.loginBtn:hover{
    color: #fff !important;
}
.btn:focus{
    box-shadow: none;
}
/* home page */
.nav{
    box-shadow: rgb(0, 0, 0) -5px 2px 54px -9px;

}
.welcome-box{
    position: relative;
    transform: translateY(100%);
}
.menu-btn:focus{
    box-shadow: none;
    border-color: #fff;
}
.logout-btn{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.logout-btn:hover{
    color: #fff;
}
#welcomeUser{
    color: rgb(23, 162, 184);
}
